services:
  db:
    image: postgres:15-alpine
    container_name: tsundoku-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tsundoku_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
